* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    position: absolute;
    width: 100%;
}

section {
    height: 100vh;
}

#y2k {
    font-family: 'Unbounded', cursive;
    background-color: #e3eaf8;
    color: #0f4c83;
    position: relative;
    display: flex;
    background-image: url(./img/right_wave.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(40% + 15vh);
}

#y2k_menu {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top_line {
    width: 100%;
    height: 10px;
    background-color: #0f4c83;
}

#main_line {
    width: 50vw;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 70px solid #0f4c83;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main_line a {
    display: block;
    margin: -70px 0 0 0;
    color: #a8ff00;
    cursor: pointer;
    rotate: -30deg;
    text-decoration: none;
    font-size: 12px;
    border: 2px solid #a8ff00;
    padding: 2px;
    transition: 1s;
}

#main_line a:hover {
	transform: translateY(20px);
}

#y2k #main_info {
    border: 5px solid #0f4c83;
    width: 50vw;
    height: 50vh;
    margin: 25vh 0 0 5vw;
    position: absolute;
}

#y2k #main_info h1 {
    color: #d94f70;
    font-size: 6vw;
    bottom: 45vh;
    position: absolute;
}

#y2k #main_info h2 {
    margin-left: 1vw;
    bottom: 40vh;
    position: absolute;
    font-size: 2vw;
}

#y2k #main_info p {
    margin-left: 1vw;
    margin-right: 1vw;
    top: 12vh;
    position: absolute;
    font-size: calc(10px + 0.3vw + 0.3vh);
}

#scrolldown {
    width: 200px;
    height: 30px;
    background-color: #d94f70;
    border: 2px solid #fff;
    outline: 2px solid #0f4c83;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    left: 5vw;
    color: #e3eaf8;
    display: flex;
    align-items: center;
    z-index: 2;
}

#scrollicon {
    height: 60px;
    width: 60px;
    background-color: #0f4c83;
    border: 2px solid #fff;
    outline: 2px solid #d94f70;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -15px;
    bottom: -3px;
    position: absolute;
}

#scrolldown p {
    position: absolute;
    align-self: center;
    justify-self: center;
    left: 70px;
}

#scrollicon img {
    width: 50px;
    user-select: none;
}

.patterns {
    position: absolute;
    right: 0;
    width: 30vw;
    height: 100vh;
    margin: 0 5vw 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ellipse {
    width: 30vw;
    right: 7vw;
    rotate: 45deg;
    z-index: 1;
    position: absolute;
    user-select: none;
}

#amiga {
    width: 30vw;
    z-index: 2;
    user-select: none;
}

@media (min-width: 2000px) {
    #y2k #main_info p {
        font-size: calc(24px + 0.5vw);
    }

    #scrolldown {
        width: 300px;
        height: 50px;
    }
    
    #scrollicon {
        height: 90px;
        width: 90px;
        left: -30px;
    }
    
    #scrolldown p {
        left: 100px;
        font-size: 24px;
    }
    
    #scrollicon img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    #y2k {
        background-size: calc(40% + 25vh);
        background-position-x: 30vw;
    }
    
    #y2k_menu {
        display: none;
    }

    #y2k #main_info {
        top: 5vh;
        width: 88vw;
        margin: 25vh 5vw 0 5vw;
    }
    
    #y2k #main_info h1 {
        font-size: 9vw;
    }
    
    #y2k #main_info h2 {
        bottom: 42vh;
        font-size: 5vw;
    }
    
    #y2k #main_info p {
        top: 10vh;
        font-size: calc(12px + 0.1vw + 0.5vh);
    }

    .patterns {
        position: absolute;
        top: 0;
        left: 5vw;
        width: 90vw;
        height: 20vh;
        margin: 1vh 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ellipse {
        width: 70vw;
        left: 10vw;
        rotate: 45deg;
        z-index: 1;
        position: absolute;
        user-select: none;
    }
    
    #amiga {
        width: 70vw;
        z-index: 2;
        user-select: none;
    }
}

@media (max-height: 500px) {
    #scrolldown {
        width: 100px;
        height: 15px;
        bottom: 20px;
        color: #e3eaf8;
    }
    
    #scrollicon {
        height: 30px;
        width: 30px;
    }
    
    #scrolldown p {
        left: 27px;
        font-size: 9px;
    }
    
    #scrollicon img {
        width: 25px;
    }

    #y2k #main_info {
        border: 4px solid #0f4c83;
        margin: 30vh 0 0 5vw;
    }
    
    #y2k #main_info p {
        margin-left: 1vw;
        margin-right: 1vw;
        top: 12vh;
        position: absolute;
        font-size: calc(8px + 0.4vw + 0.2vh);
    }
}