* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body {
    position: absolute;
    width: 100%;
}

section {
    height: 100vh;
}

a:active,
a:hover, 
a {
  text-decoration: none;
  color: #fff;
}

#y2k {
    font-family: 'Unbounded', cursive;
    background-color: #e3eaf8;
    color: #0f4c83;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/right_wave.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(40% + 15vh);
}

#y2k_menu {
    position: absolute;
    top: 0;
    width: 50vw;
    max-width: 300px;
    height: 10vh;
    background-color: #0f4c83;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#y2k_menu img {
    width: calc(4vh + 1vw);
    border: 3px solid #e3eaf8;
    transition: transform .1s;
}

#y2k_menu img:hover {
    transform: scale(1.2);
}

#y2k #main_info {
    border: 5px solid #0f4c83;
    width: 50vw;
    height: 50vh;
    margin: 0;
    left: 5vw;
    position: absolute;
}

#y2k #main_info h1 {
    color: #d94f70;
    font-size: 6vw;
    bottom: 45vh;
    position: absolute;
}

#y2k #main_info h2 {
    margin-left: 1vw;
    bottom: 40vh;
    position: absolute;
    font-size: 2vw;
}

#y2k #main_info p {
    margin-left: 1vw;
    margin-right: 1vw;
    top: 12vh;
    position: absolute;
    font-size: calc(10px + 0.3vw + 0.3vh);
}

#scrolldown {
    width: 200px;
    height: 30px;
    background-color: #d94f70;
    border: 2px solid #fff;
    outline: 2px solid #0f4c83;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    left: 5vw;
    color: #e3eaf8;
    display: flex;
    align-items: center;
    z-index: 2;
}

#scrollicon {
    height: 60px;
    width: 60px;
    background-color: #0f4c83;
    border: 2px solid #fff;
    outline: 2px solid #d94f70;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -15px;
    bottom: -3px;
    position: absolute;
}

#scrolldown p {
    position: absolute;
    align-self: center;
    justify-self: center;
    left: 70px;
}

#scrollicon img {
    width: 50px;
    user-select: none;
}

.patterns {
    position: absolute;
    right: 0;
    width: 30vw;
    height: 100vh;
    margin: 0 5vw 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ellipse {
    width: 30vw;
    right: 7vw;
    rotate: 45deg;
    z-index: 1;
    position: absolute;
    user-select: none;
}

#amiga {
    width: 30vw;
    z-index: 2;
    user-select: none;
}

#gradients {
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#gradients p {
    font-size: calc(1.7vh + 1vw);
    color: #fff;
    font-family: 'Inter', sans-serif;
    width: 50vw;
    text-align: center;
    position: absolute;
    bottom: calc(25vh + 1vw);
}

#gheader {
    width: calc(20vh + 20vw);
    user-select: none;
    top: calc(0.5vh + 0.5vw);
    position: absolute;
}

#gradients_menu {
    position: absolute;
    width: 50vw;
    max-width: 300px;
    height: calc(3vh + 4vw);
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    bottom: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#gradients_menu img {
    margin: 5px 0 0 0;
    width: calc(4vh + 2vw);
    border-radius: 10px;
    transition: transform .1s;
    user-select: none;
}

#gradients_menu img:hover {
    transform: scale(1.2);
}

#memphis {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 200vh;
    font-family: 'Jost', sans-serif;
    background-color: #fbabbe;
    color: #012a50;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 'header header header'
    'aleft content aright';
    background-image: url('./img/pattern_stuff.png');
    background-size: 50%;
}

#memphis_header {
    width: 100%;
    height: 20vh;
    background-color: #00a200;
    background-image: url('./img/pattern_leaves.svg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 50%;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linebg {
    position: absolute;
    width: 100%;
    height: 4vh;
    top: 18.3vh;
    background-image: url('./img/pattern_lines.png');
    background-repeat: repeat-x;
    background-size: 30vh;
}

#memphis h1 {
    color: #fff;
    font-size: calc(1vh + 5vw);
    background-color: #00a200;
}

#aleft {
    height: 80vh;
    width: 20vw;
    background-color: #0f4c83;
    grid-area: aleft;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1vw solid #012a50;
    background-image: url('./img/pattern_vertical.svg');
    background-position: left;
    background-size: 10%;
    background-repeat: repeat-y;
}

#aleft img {
    width: calc(5vh + 5vw);
    border: 3px solid #fff;
    transition: transform .1s;
    user-select: none;
}

#aleft img:hover {
    transform: scale(1.2);
}

#memphis_content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
}

#memphis_content h2 {
    font-size: calc(1vh + 2vw);
}

#memphis_content p {
    font-size: calc(1vh + 1.5vw);
    text-align: center;
    margin-top: 2vh;
}

#aright {
    grid-area: aright;
    right: 0;
    height: 80vh;
    width: 20vw;
    background-color: #c4e5ee;
    border-left: 1vw solid #0f4c83;
    background-image: url('./img/pattern_line.png');
    background-size: 8%;
}

#aright img {
    position: absolute;
    width: 10vw;
    bottom: 0;
    right: 15.3vw;
    user-select: none;
}

#neumorphism {
    position: absolute;
    top: 300vh;
    height: 90vh;
    width: 100%;
    background-color: #a0a1da;
    color: #212258;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#neumorphism h1 {
    position: absolute;
    display: block;
    font-size: calc(5vh + 5vw);
    top: calc(2vh + 1vw);
    color: #fff;
}

#ncontainer {
    position: absolute;
    top: calc(15vh + 6vw);
    width: 80vw;
    height: auto;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #abace9, #9091c4);
    box-shadow:  20px 20px 60px #8889b9,
             -20px -20px 60px #b8b9fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ncontainer p {
    margin: 5vh 5vw 5vh 5vw;
    font-weight: 400;
    font-size: calc(1.5vh + 1vw);
}

#nnav {
    position: absolute;
    bottom: calc(3vh + 2vw);
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nnav img {
    width: 10vh;
    border-radius: 25px;
    background: #a0a1da;
    box-shadow:  8px 8px 16px #9293c6,
             -8px -8px 16px #aeafee;
    user-select: none;
}

#nnav img:hover {
    border-radius: 25px;
    background: #a0a1da;
    box-shadow: inset 8px 8px 16px #9293c6,
            inset -8px -8px 16px #aeafee;
}

footer {
    position: absolute;
    height: 10vh;
    top: 390vh;
    width: 100%;
    background-color: #a0a1da;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: calc(1vh + 1vw);
}

@media (min-width: 2000px) {
    #y2k #main_info p {
        font-size: calc(24px + 0.5vw);
    } 

    #y2k_menu {
        max-width: 30%;
        border-radius: 0 0 32px 32px;
    }

    #scrolldown {
        width: 300px;
        height: 50px;
    }
    
    #scrollicon {
        height: 90px;
        width: 90px;
        left: -30px;
    }
    
    #scrolldown p {
        left: 100px;
        font-size: 24px;
    }
    
    #scrollicon img {
        width: 80px;
    }

    #gradients_menu {
        max-width: 30%;
        border-radius: 32px;
    }

    #gradients_menu img {
        border-radius: 32px;
    }
}

@media (max-width: 480px) {
    #y2k {
        background-size: calc(40% + 25vh);
        background-position-x: 30vw;
    }
    
    #y2k_menu {
        display: none;
    }

    #y2k #main_info {
        top: 5vh;
        width: 90vw;
        margin: 25vh 0 0 0;
        background-color: #e3eaf8;
    }
    
    #y2k #main_info h1 {
        font-size: 9vw;
    }
    
    #y2k #main_info h2 {
        bottom: 42vh;
        font-size: 5vw;
    }
    
    #y2k #main_info p {
        top: 10vh;
        font-size: calc(12px + 0.1vw + 0.5vh);
    }

    .patterns {
        position: absolute;
        top: 3.5vh;
        left: 5vw;
        width: 90vw;
        height: 20vh;
        margin: 1vh 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ellipse {
        width: 70vw;
        left: 10vw;
        rotate: 45deg;
        z-index: 1;
        position: absolute;
        user-select: none;
    }
    
    #amiga {
        width: 70vw;
        z-index: 2;
        user-select: none;
    }

    #gradients {
        background-image: url('./img/gradients_mobilebg.png');
        background-size: cover;
    }

    #gheader {
        top: calc(2vh + 1vw);
    }

    #gradients p {
        font-size: calc(1.3vh + 3vw);
        width: 80%;
        bottom: calc(15vh + 10vw);
    }

    #gradients_menu {
        height: 60px;
        border-radius: 15px;
    }

    #gradients_menu img {
        border-radius: 10px;
    }

    #memphis {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas: 'header'
        'content'
        'aleft';
    }

    #memphis_header {
        height: 10vh;
    }

    #linebg {
        top: 8.5vh;
    }

    #memphis_content {
        height: 74vh;
    }

    #memphis_content h2 {
        font-size: calc(2vh + 2vw);
    }

    #memphis_content p {
        font-size: calc(2vh + 1.5vw);
    }

    #aleft {
        width: 100%;
        height: 10vh;
        flex-direction: row;
        background-image: none;
        border-right: none;
        border-top: 1vh solid #012a50;
    }

    #aleft img {
        width: calc(4vh + 5vw)
    }

    #aright {
        display: none;
    }

    #neumorphism h1 {
        font-size: calc(4vh + 3vw);
    }

    #nnav {
        width: 80vw;
    }

    #nnav img {
        width: 8vh;
    }

}

@media (max-height: 500px) {
    #scrolldown {
        width: 100px;
        height: 15px;
        bottom: 20px;
        color: #e3eaf8;
    }
    
    #scrollicon {
        height: 30px;
        width: 30px;
    }
    
    #scrolldown p {
        left: 27px;
        font-size: 9px;
    }
    
    #scrollicon img {
        width: 25px;
    }

    #y2k #main_info {
        border: 4px solid #0f4c83;
        margin: 10vh 0 0 5vw;
    }
    
    #y2k #main_info p {
        margin-left: 1vw;
        margin-right: 1vw;
        top: 12vh;
        position: absolute;
        font-size: calc(8px + 0.4vw + 0.2vh);
    }

    #gradients_menu {
        border-radius: 10px;
    }

    #gradients_menu img {
        border-radius: 5px;
    }
}