@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #222;
    position: absolute;
    width: 100%;
}

a {
    text-decoration: none;
    color: #eee;
}

header {
    margin-top: 0px;
    background-color: #222;
    display: grid;
    grid-template-columns: 3fr 120px 120px 120px 120px 2fr 1fr;
    grid-template-areas: '. iam skills projects contacts . change_lang';
    height: 50px;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header a:hover {
    color: #fff;
}

.header-active {
    border-bottom: 3px solid #000;
    margin-top: 2px;
}

#menu_btn {
    display: none;
}

.menu_element,
.change_lang {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iam {
    grid-area: iam;
}

.skills {
    grid-area: skills;
}

.projects {
    grid-area: projects;
}

.contacts {
    grid-area: contacts;
}

.change_lang {
    justify-self: right;
    margin-right: 50px;
    grid-area: change_lang;
    font-size: 14px;
}

.change_lang img {
    display: inline-block;
    width: 27px;
    margin-left: 5px;
    top: 0px;
    position: relative;
}

.iam:hover,
.skills:hover,
.projects:hover,
.contacts:hover {
    background-color: #000;
}

main {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hello {
    font-size: 120px;
    margin: 0;
    padding: 0;
    animation: ani 3s forwards;
}

.name {
    font-weight: 400;
    margin: 5px;
    padding: 0;
    animation: ani 4s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

#iam {
    width: 100%;
    height: 100vh;
    top: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec_head_onblack {
    color: #fff;
    font-size: 72px;
    font-weight: 400;
}

.sec_head_onwhite {
    color: #222;
    font-size: 72px;
    font-weight: 400;
}

.about {
    justify-self: center;
    display: grid;
    grid-template: repeat(2, minmax(100px, 30vh)) / repeat(2, minmax(300px, 40vw));
    grid-template-areas: 'first_cloud second_cloud'
    'third_cloud fourth_cloud';
    gap: 1vh;
}

#iam img {
    width: 8vw;
    z-index: 999;
    position: absolute;
    justify-self: center;
    align-self: center;
}

#first_cloud,
#second_cloud,
#third_cloud,
#fourth_cloud {
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_cloud {
    grid-area: first_cloud;
}

#second_cloud {
    grid-area: second_cloud;
}

#third_cloud {
    grid-area: third_cloud;
}

#fourth_cloud {
    grid-area: fourth_cloud;
}

.cloud_text {
    font-size: calc(16px + 1vw);
    margin: 40px;
}

.addmarginleft {
    margin-left: 60px;
}

#skills {
    width: 100%;
    height: 100vh;
    top: 200vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#skillslist {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row dense;
    grid-gap: 20px;
    height: auto;
    margin-top: 0;
}

#skillslist div {
    box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: calc(12px + 0.5vw);
    height: 30vh;
    flex-direction: column;
}

#skillslist div:hover {
    cursor: pointer;
    background-color: #222;
    color: #fff;
}

#skillslist div img {
    margin-top: 16px;
    width: calc(120px + 1vw + 1vh);
}

#projects {
    width: 100%;
    height: 100vh;
    top: 300vh;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#projectslist {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: auto;
    margin-top: 0;
}

#projectslist div {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 65vh;
    flex-direction: column;
    overflow: hidden;
    font-size: calc(12px + 0.5vw);
    transition: transform .1s;
    box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 72px -18px rgba(0,0,0,0.5);
}

#projectslist div:hover {
    transform: scale(1.2);
}

.pname {
    font-weight: 700;
    text-align: center;
    justify-self: start;
}

.pdesc {
    text-align: center;
    justify-self: start;
    margin-top: 0;
}

#projectslist div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectslist div img {
    width: 100%;
}

#contacts {
    width: 100%;
    height: 100vh;
    top: 400vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contactslist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    margin: 0 20px;
}

.contact {
    background-color: #eee;
    height: 100px;
    width: 300px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.contact_form {
    width: 100%;
    height: 50px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#tg {
    background-color: #0088cc;
}

#email {
    background-color: #222;
}

#gh {
    background-color: #6e5494;
}

.contact_form img {
    width: 30px;
    margin-right: 10px;
}

.contact_name {
    color: #000;
    align-self: center;
}

#tg:hover {
    -webkit-box-shadow:0px 0px 30px 0px rgba(0,136,204,0.9);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,136,204,0.9);
    box-shadow: 0px 0px 30px 0px rgba(0,136,204,0.9);
}

#email:hover {
    -webkit-box-shadow:0px 0px 30px 0px rgba(34,34,34,0.9);
    -moz-box-shadow: 0px 0px 30px 0px rgba(34,34,34,0.9);
    box-shadow: 0px 0px 30px 0px rgba(34,34,34,0.9);
}

#gh:hover {
    -webkit-box-shadow:0px 0px 30px 0px rgba(110,84,148,0.9);
    -moz-box-shadow: 0px 0px 30px 0px rgba(110,84,148,0.9);
    box-shadow: 0px 0px 30px 0px rgba(110,84,148,0.9);
}

footer {
    height: 10vh;
    top: 500vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
}

footer p {
    color: #fff;
}

footer .change_lang {
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.popup {
    width: 50%;
    max-width: 550px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1002;
}

.open-popup {
    display: flex;
}

#popup_heading {
    font-size: 28px;
    justify-self: start;
    margin-top: -20px;
    margin-bottom: 3px;
}

#popup_text {
    margin: 10px 25px 20px 25px;
    text-align: center;
}

.closer {
    rotate: 45deg;
    margin: 0;
    user-select: none;
    cursor: pointer;
    justify-self: start;
    align-self: end;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 24px;
}

@media (min-width: 2000px) {
    .hello {
        font-size: 240px;
    }

    .name {
        font-size: 32px;
    }

    header {
        height: 70px;
        grid-template-columns: 3fr 280px 280px 280px 280px 2fr 1fr;
    }

    .menu_element {
        font-size: 32px;
    }

    .change_lang {
        font-size: 28px;
    }

    .change_lang img {
        width: 50px;
        margin-left: 10px;
    }

    .popup {
        width: 50%;
        max-width: 2000px;
    }
    
    #popup_heading {
        font-size: 64px;
        justify-self: start;
        margin-top: -20px;
        margin-bottom: 3px;
    }
    
    #popup_text {
        font-size: 32px;
    }
    
    .closer {
        font-size: 48px;
    }
    
    .contact {
        height: 150px;
        width: 600px;
        font-size: 24px;
    }
    
    .contact_form {
        height: 75px;
    }

    .contact_form img {
        width: 50px;
    }

    footer p {
        font-size: 24px;
    }
}

@media (max-width: 1000px) {

    #projects .sec_head_onblack {
        margin: 10px 0 15px 0;
    }

    #projectslist {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0;
    }
    
    #projectslist div {
        display: flex;
        align-items: center;
        border-radius: 15px;
        width: 33vh;
        height: 26vh;
    }

    .pdesc {
        display: none;
    }
}

@media (max-width: 480px) {

    header {
        display: flex;
    }

    .menu_element:hover {
        background-color: #222;
    }
    
    .iam {
        width: 22%;
    }

    .skills {
        width: 25%;
    }

    .projects {
        width: 25%;
    }

    .contacts {
        width: 28%;
    }

    .change_lang {
        display: none;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hello {
        font-size: 72px;
        text-align: center;
        margin: 0;
        padding: 0;
        animation: ani 3s forwards;
    }
    
    .name {
        text-align: center;
        font-weight: 400;
        margin: 5px;
        padding: 0;
        animation: ani 4s forwards;
    }

    #iam {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .sec_head_onblack {
        font-size: 64px;
        margin: 15px 0;
    }
    
    .sec_head_onwhite {
        font-size: 64px;
        margin: 15px 0;
    }
    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    #iam img {
        display: none;
    }
    
    #first_cloud,
    #second_cloud,
    #third_cloud,
    #fourth_cloud {
        margin: 0 40px;
        height: 19vh;
    }
    
    .cloud_text {
        font-size: 23px;
        margin: 40px;
        text-align: center;
    }
    
    .addmarginleft {
        margin-left: 40px;
    }
    
    #skillslist {
        grid-template-columns: repeat(2, 40vw);
        grid-gap: 10px;
        align-items: center;
        justify-content: center;
        row-gap: 5vh;
    }

    #skillslist div {
        height: 15vh;
    }

    #skillslist div img {
        width: 15vw;
    }
    
    #projectslist {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    #projectslist div {
        display: flex;
        align-items: center;
        border-radius: 15px;
        width: 33vh;
        height: 25vh;
    }

    .pdesc {
        display: none;
    }
    
    #contactslist {
        height: 70vh;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact {
        margin: 20px 0 20px 0;
    }
    
    .popup {
        width: 75%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer p {
        margin: 1vh 0 1vh 0;
    }

    footer .change_lang {
        display: flex;
        margin: 0 0 2vh 0;
    }
}

@media (max-height: 500px) {
    body {
        position: absolute;
        width: 100%;
    }

    .sec_head_onblack {
        margin: 0;
    }
    
    .sec_head_onwhite {
        margin: 0;
    }
    
    #skillslist div img {
        width: calc(56px + 1vw + 1vh);
    }
    
    #projectslist {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        height: auto;
        margin-top: 7vh;
    }
    
    #projectslist div {
        height: 43vh;
        width: 25vw;
    }
    
    .contact {
        height: 70px;
        width: 300px;
        margin: 5px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
    }
    
    .contact_form {
        height: 35px;
        justify-content: center;
    }

    .contact_form img {
        width: 25px;
    }
}